<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>
    <ul>
        {% for pessoa in pessoas %}
            <li>
                {{pessoa.id}} - {{pessoa.nome}} - {{pessoa.numero}} - {{pessoa.cpf}} - {{pessoa.endereco}}
                <a href="{% url 'editar' pessoa.id %}">Editar</a>
                <a href="{% url 'delete' pessoa.id %}">Deletar</a>
            </li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <div>id - nome - numero - cpf - endereço</div>
        <form action="{% url 'cadastrar' %}" method="post">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="Digite o Nome">
            <br>
            <input type="text" name="numero" placeholder="Digite o Número">
            <br>
            <input type="text" name="cpf" placeholder="Digite o CPF">
            <br>
            <input type="text" name="endereco" placeholder="Digite o Endereço">
            <br>
            <button type="submit">Cadastrar</button>
        </form>
        <br>
        <a href="{% url 'buscar_pessoa' %}">Buscar Pessoa</a>
        <br>
        <a href="{% url 'logout' %}">Sair</a>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <br>
        <a href="{% url 'register' %}">Registrar</a>
        <br>
    {% endif %}
</body>
</html>